%h1 CREATE A POOL

- if flash[:errors].present?
	.errors
		- flash[:errors].each do |error|
			%li= error

.new-pool-wizard
	= render "pools/new/options"
	= render "pools/new/bundle_descriptions"

// STYLES ( COLLECT-LATER )
:sass
	.pool-bundle-options
		width: 50%
		float: left
	.pool-bundle-descriptions
		width: 50%
		float: right
